// $laptop:1366px;
// $tablet:768px;
$tablet:680px;
$laptop:1100px;



//  320 - smallest
//  560 - iphone 

// 680 - tablet and largets for content area 
// 768 - 1100 - normal tablet 
// 1100 - desktop 

$purple: #663399;
// $purple: #AF9FC9;
// $grey: #cfcfcf;
$grey: #ebebeb;

ul li
{
    list-style-type: none;
}

html, body {
    margin: 0;
    overflow-x:  hidden;
    padding: 0;
  }
  
  header, footer, div, section{
    box-sizing: border-box;
  }