<section id="cool-stuff" class="cool-stuff">
  <h1>Cool Stuff To Check Out</h1>
  <p>Here are some cool articles and tools that I have found to be helpful and I think they could be good for you as well.</p>
  <div class="cool-stuff-inner container">
  <div class="cool-stuff-card">
    <div class="cool-stuff-image"> <img  src="/assets/images/pineapple.png"> </div>
        <div class="cool-stuff-text"> <a style="text-decoration: underline;" href="https://kentcdodds.com/blog/write-tests" target="_blank"> 
          <p>Write tests. Not too many. Mostly integration.</p>
          </a> </div>
    </div>
    <div class="cool-stuff-card">
      <div class="cool-stuff-image"> <img  src="/assets/images/odin.png"> </div>
      <div class="cool-stuff-text">  <a style="text-decoration: underline;" href="https://www.theodinproject.com/about" target="_blank"> 
        <p>The Odin Project</p>
        </a> </div>
    </div>
    <div class="cool-stuff-card">
      <div class="cool-stuff-image"> <img src="/assets/images/cypress.png"> </div>
      <div class="cool-stuff-text">  <a style="text-decoration: underline;" href="https://www.cypress.io/" target="_blank"> 
        <p>JavaScript End to End Testing Tool.</p>
        </a> </div>
    </div>
  </div>
</section>