<section class="hero">
  <div class="hero-inner container">
    <div class="hero-text">
        <h1>Christian Medders</h1>
        <p>Hey there, thanks so much for coming. This site was made to showcase some projects I have worked on and contributed to. Also to let you get to know me a little more... Enjoy!</p>
        <button class="hero-button"><a href="mailto:cmedd92@gmail.com">Let's Connect</a></button>
    </div>
    <div class="hero-pic">
      <img  src="../assets/images/me.jpg">
    </div>
      </div>
</section>