  <nav>
    <div class="navbar">
      <div class="navbar-content container">
    <ul class="navbar-logo">
      <li> <a href="https://www.linkedin.com/in/christian-medders-6a00b7a5/"  target="_blank"> <img class="navbar-logo-item" src="/assets/images/linkedin.png"></a></li>
      <li>
        <a href="https://github.com/clmedders" target="_blank"> <img class="navbar-logo-item" src="/assets/images/cat-2.png"></a>
      </li>
    </ul>
  <div id="hamburger-menu" class="fa fa-bars hamburger-menu">Menu</div> 
  <div id="site-menu" class="navbar-menu">
        <div class="navbar-list">
          <ul>
            <li class="navbar-item"><a href="#who-i-am" target="_top">Who I Am</a></li>
            <li class="navbar-item"><a href="#my-work" target="_top">My Work</a></li>
            <li class="navbar-item"><a href="#cool-stuff" target="_top">Some Cool Stuff</a></li>
        </ul>
        </div>
        </div>
      </div>
    </div>
  </nav>