<section id="who-i-am" class="who-i-am">
  <div class="who-i-am-content container">
    <h1>
      What Wakes Me Up In The Morning
    </h1>
    <p class="p-tag">
      I am an outdoor-loving, golf club swinging, beer-drinking (and sometimes brewing) guy who likes to do some coding. Most of my career was spent in Higher Education working in student affairs, then one day I felt like it was time for a change. Luckily, I had some awesome people to help support me in my transition. My older brother told me I could become a good developer and I believed him. Now I am with a great company that took a chance on me and has allowed me to grow my skills. I work on the Testing and QA side of the development with the goal to become a badass developer.
      <br>
      <br>
      However, I am much more than that... I am also a son, brother, friend, husband, and a dad. Born and raised in Aiken, SC I met the love of my life in college and have grown an awesome life. We have one child and with all the craziness that will bring, I really can't imagine it being any other way. I am so grateful that you are here and hope that when you leave you to have a better idea of who I am, what I can do, and maybe have a desire to connect.  
      <br>
      <br>
      Please feel free to click around and see projects I have worked on both personally and professionally. I hope that after seeing this you will have a better understanding of who I and how I work!
    </p>
  </div>
</section>