.hero{
  background: $grey;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  h1{
    font-family: Silkscreen;
  }

  p{
    font-family: sans-serif;

  }
}

// .hero-pic-outer{
//   border-radius: 50%;
//   height: auto;
//   overflow: hidden;
//   width: 275px;
// }

.hero-pic{
  max-width: 100%;
  width: 400px;
  height: auto;
  margin: auto;
  border-radius: 100%;
  object-fit: cover;
  padding-top: 20px;
}

.hero-button{
  background: $purple;
  border-color: $purple;
  border-radius: 28px;
  border-style: solid;
  border-width: 3px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  width: 150px;
  box-shadow: 0px 10px 20px $purple;
}