.my-work{
  background: $grey;
  display: flex;
  font-family: sans-serif;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 50px;
  flex-direction: column;
}

.dev-work{
  flex-direction: column;
  justify-content: space-around;
  display: flex;

  @media(min-width:$laptop){
    padding-bottom: 20px;
    padding-right: 20px;
  }

  h1{
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
  }
}

.dev-work-inner{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;

  @media(min-width:$laptop){
    flex-direction: row;
  }
}

.dev-card{
  background-color: white;
  border-radius: 10px;

  margin: 1em;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  max-width: 250px;
  

  @media(min-width:$laptop){
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  }

}

.dev-card-text{

  h2{
    font-family: Electrolize;
  
    }
  
    p{
      font-family: sans-serif;
    }
}

.dev-card-image{
  height: auto;
  width: 200px;
  margin: 0 auto;
  // display: inline-block;

  img{
    // width: 100%;
    // height: auto;
    // object-fit: contain;
    // display: block;

    max-width: 100%;
    max-height: auto;
    // Display: block;
    }

}

.dev-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.personal-card{
  background-color: white;
  border-radius: 10px;
  margin: 1em;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  max-width: 250px;

  @media(min-width:$laptop){
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  }
}

.personal-card-text{

  h2{
    font-family: Electrolize;
  
    }
  
    p{
      font-family: sans-serif;
    }
}

.personal-card-image{
  max-height: 200px;
  max-width: 200px;
  margin: 0 auto;
  display: inline-block;

  img{
    width: 100%;
    height: auto;
    object-fit: contain;
    }

}

.personal-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.personal-work{
  flex-direction: column;
  justify-content: space-around;
  display: flex;

  h1{
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
  }
}

.personal-work-inner{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;

  @media(min-width:$laptop){
    flex-direction: row;
  }
}

