.my-work{
  background: $grey;
  display: flex;
  font-family: sans-serif;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 50px;
}

.dev-work{

  h1{
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
  }
}

.dev-work-inner{

  display: flex;
  flex-direction: column;

  @media(min-width:$tablet){
  flex-direction: row;
  }
}

.dev-work-card{
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 10px;
  text-align: center;
  width: 275px;
  height: auto;
  background-color: white;

  transition: 0.5s;

  h2{
  font-family: Electrolize;

  }

  p{
    font-family: sans-serif;
  }
}

.dev-work-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mia-card{
  width: 150px;
  height: 150px;
}

.vote-card{
  width: 100px;
  height: auto;
}

.park-card{
  width: 150px;
  height: auto;
}

.aiken-card{
  width: 150px;
  height: auto;
}

.personal-work{

  padding-bottom: 20px;
  
@media(min-width:$tablet){
  width: 500px;
  margin: auto;
}
  h1{
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
  }
}

.personal-work-inner{

  display: flex;
  flex-direction: column;
  // width: 500px;

  @media(min-width:$tablet){
  flex-direction: row;
  }
}

.personal-work-card{
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 10px;
  text-align: center;
  width: 275px;
  background-color: white;

  transition: 0.5s;

  h2{
  font-family: Electrolize;

  }

  p{
    font-family: sans-serif;
  }
}

.personal-work-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.boston-card{
  width: 150px;
  height: auto;
}

.disney-card{
  width: 150px;
  height: auto;
}