.navbar{
  background-color: $purple;
  background: linear-gradient(100.66deg, $purple 23.13%, rgb(86, 38, 86) 82.12%);
  
}

.navbar-content{
  color: white;
  max-width: 100%;
  width: 1300px;
  font-size: 18px;
  font-family: Electrolize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media(min-width:$tablet){
    flex-direction: row-reverse;
    flex-wrap:nowrap;
    padding-left: 30px;
    padding-right: 30px;


    // align-items: flex-end;

  }

  @media(min-width:$laptop){
    font-size: 24px;
  }
}

.navbar-list{
  padding-left: 0;
  text-align: right;
  font-size: 18px;
  width: 80%;

  @media(min-width:$tablet){
  width: 500px;
  font-size: 20px;
  // align-items: flex-end;
  }

  ul{
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-left: 50px;

    @media(min-width:$tablet){
      flex-direction: row;
      padding-left: 0px;
    }
  }

  li{
    margin: .9rem 0rem .9rem .9rem;
  }

}

// .navbar-right{



  .hamburger-menu{
    color: white;
    padding-top: 30px;
    width: 30%;
    margin-left: auto;
  
    @media(min-width:$tablet){
      display: none;
      visibility:hidden;
      
    }
  }
// }

.navbar-logo{
  display: flex;
  flex-direction: row;

  @media(min-width:$tablet){
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 30px;
  }
}

.navbar-logo-item{
  width: 30px;
  height: auto;

}

.navbar-menu{
  display: none;
  width: 100%;
  max-width: 1000px;

  &.open-menu{
    display: flex;
  }

  @media(min-width:$tablet){
    flex-direction: row;
    display: flex;
    align-items: left;
  }
}