.navbar{
  background-color: $purple;
}

.navbar-content{
  color: white;
  width: 100%;
  font-size: 18px;
  // font-family: Silkscreen;
  font-family: Electrolize;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(min-width:$tablet){
    flex-direction: row-reverse;
  }

  @media(min-width:$laptop){
    font-size: 24px;
  }
}

.navbar-list{
  padding-left: 0;
  text-align: center;
  font-size: 18px;

  @media(min-width:$tablet){
  width: 500px;
  padding-left: 20px
  }

  ul{
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-left: 50px;

    @media(min-width:$tablet){
      flex-direction: row;
      padding-left: 0px;
    }
  }

  li{
    margin: .75rem 0 .75rem .75rem;
    // letter-spacing: 0.0625em;


    // @media(min-width:$tablet){
    // padding: .5rem 0 .5rem .5rem;

    // }
  }

}

.navbar-right{
  flex-direction: row;
  display: flex;
  width: 200px;
  max-width: 100%;

  .hamburger-menu{
    color: white;
    padding-left: 100px;
    padding-top: 30px;
  
    @media(min-width:$tablet){
      display: none;
    }
  }
}

.navbar-logo{
  display: flex;
  flex-direction: row;

  @media(min-width:$tablet){
    padding-top: 10px;
  }
}

.navbar-logo-item{
  width: 30px;
  height: auto;

}

.navbar-menu{
  display: none;

  &.open-menu{
    display: flex;
  }

  @media(min-width:$tablet){
    flex-direction: row;
    display: flex;
  }
}






