.navbar{
  background-color: $purple;
}

.navbar-content{
  color: white;
  width: 100%;
  font-size: 18px;
  font-family: Silkscreen;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(min-width:$tablet){
    flex-direction: row-reverse;
  }

  @media(min-width:$laptop){
    font-size: 24px;
  }
}

.navbar-list{
  padding-left: 0;
  text-align: center;

  ul{
    flex-direction: column;
    display: flex;
    width: 100%;

    @media(min-width:$tablet){
      flex-direction: row;
    }
  }

  li{
    margin: .5rem 0 .5rem .5rem;

    @media(min-width:$tablet){
    padding: 1.5rem 0 1.5rem 1.5rem;

    }
  }

}

.navbar-right{
  flex-direction: row;
  display: flex;
  width: 200px;
  max-width: 100%;
}

.navbar-logo{
  display: flex;
  flex-direction: row;
  
}

.navbar-logo-item{
  width: 30px;
  height: auto;

}

.navbar-menu{
  display: none;

  &.open-menu{
    display: flex;
  }

  @media(min-width:$tablet){
    flex-direction: row;
    display: flex;
  }
}

.hamburger-menu{
  color: white;
  padding-left: 100px;
  padding-top: 30px;

  @media(min-width:$tablet){
    display: none;
  }
}





