.hero{
  background: $grey;
  padding-bottom: 30px;
}

.hero-inner{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  text-align: center;
  width: 100%;

  @media(min-width:$tablet){
    flex-direction: row;
  }
}

.hero-text{
  max-width: 100%;
  width: 500px;
  padding-bottom: 20px;


  h1{
  font-family: Electrolize;

    @media(min-width:$tablet){
      font-size: 32px;
    }

    @media(min-width:$laptop){
      font-size: 38px;
    }
  }

  p{
    font-family: sans-serif;

    @media(min-width:$tablet){
      font-size: 18px;
    }

    @media(min-width:$laptop){
      font-size: 20px;
    }
  }

  @media(min-width:$tablet){
    padding-top: 100px;
   }
}

.hero-pic{
  display: flex;
  justify-content: center;
  
  @media(min-width:$tablet){
    margin-left: 30px;
    padding-left: 0px;
  }

  @media(min-width:$laptop){
    width: 500px;
    margin-left: 150px;

   }

  img {
    border-radius: 50%;
    display: block;
    height: 200px;
    margin: auto;
    object-fit: cover;
    width: 200px;
    margin-top: 30px;

    @media(min-width:$tablet){
      height: 300px;
      width: 300px;

    }
  
    @media(min-width:$laptop){
      height: 500px;
      width: 500px;
     }
  }




}

.hero-button{
  background: $purple;
  border-color: $purple;
  border-radius: 28px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0px 10px 20px $purple;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  width: 150px;
}

.hero-pic:hover{

  // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  // transform: rotate(90);
  rotate: 0 8px 16px 0;
  
}