.navbar{
  background-color: $purple;
  background: linear-gradient(100.66deg, $purple 23.13%, rgb(86, 38, 86) 82.12%);
  
}

.navbar-content{
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Electrolize;
  font-size: 18px;
  justify-content: center;
  max-width: 100%;
  padding: 8px 16px;
  width: 1300px;

  &::after{
    clear: both;
    content: '';
    display: block;
  }

  @media(min-width:$tablet){
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:nowrap;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media(min-width:$laptop){
    font-size: 24px;
  }
}

.navbar-list{
  font-size: 40px;
  padding-left: 0;
  text-align: center;
  width: 80%;

  @media(min-width:$tablet){
  width: 500px;
  font-size: 20px;
  }

  ul{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 50px;
    padding: 18px;
    width: 100%;

    @media(min-width:$tablet){
      flex-direction: row;
      min-height: 0;
      padding-left: 0px;
    }
  }

  li{
    margin: .9rem 0rem .9rem .9rem;
  }

}

  .hamburger-menu{
    color: white;
    float: right;
    margin-top: 8px;
    width: 60px;
  
    @media(min-width:$tablet){
      display: none;
      visibility:hidden;
      
    }
  }

.navbar-logo{
  float: left;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;

  @media(min-width:$tablet){
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
  }

  li, a{
    display: inline-block;
  }

  li{
    margin-left: 16px;
  }
}

.navbar-logo-item{
  height: auto;
  width: 30px;

}

.navbar-menu{
  display: none;
  max-width: 1000px;
  width: 100%;

  &.open-menu{
    display: flex;
  }

  @media(min-width:$tablet){
    align-items: left;
    display: flex;
    flex-direction: row;
  }
}

.navbar-item:hover{
  text-decoration:underline;
}

.navbar-logo-item:hover{
  text-decoration:underline;
}

