.who-i-am{
  background-color: $grey;
}

.who-i-am-content{
  max-width: 1100px;
  padding: 30px;
  text-align: center;
  width: 100%;

  @media(min-width:$tablet){
    text-align: left;
  }

  h1{
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
  }

  p{
    font-family: sans-serif;
    font-size: 18px;
  }

}

.p-tag{
line-height: 1.75;
margin-left: auto;
margin-right: auto;
max-width: 75ch;
}