---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who I am and How I roll"
	pubDate={new Date('Novemeber 14 2023')}
>
<p>
My name is Christian Medders a dedicated and passionate human working within the web development world with a goal of creating efficient, well-structured, software solutions. With a strong passion for always learning I am working to hone my craft and staying up-to-date with the latest technologies and trends in the field.
</p>

<p>
I specialize in E2E Testing, Frontend along with DevOps and have experience working on a wide range of projects. My expereince includes:
</p>

<p>
- Frontend Development(Javascript, CSS, HTML)
<br>
- Agile methodologies (Scrum, Kanban)
<br>
- Test-driven development (TDD)
<br>
- Continuous integration and deployment (CI/CD)
<br>
- Version control (Git)
</p>

<p>Feel free to reach out if you're interested in discussing potential project opportunities or simply want to chat about the latest developments in the tech world!</p>
</Layout>
