---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
		<h1 class=" text-center">Online Genie</h1>

    <div class="font-bold text-black flex flex-col items-center justify-center font-mono sm:min-h-px">
      <!-- <p> -->
        <p>Ask me a question...</p>
        <input type="text" id="text" class="bg-slate-200 text-black p-2">
        <button id="roll-btn">Ready For My Answer</button>
        <button id="reset">Ask Another Quesion</button>
        <div id="fortune">
          <div id="fortune-text" class=" text-purple-700 mt-6"></div>
        </div>
    </div>
		</main>
    <script src="../scripts/8ball.js"></script>
	</body>
</html>