.container {
  margin: 0 auto;
  max-width: 1300px;
  overflow-x: hidden;
}

ul li {
  list-style-type: none;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

header, footer, div, section {
  box-sizing: border-box;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.navbar {
  background-color: #663399;
  background: linear-gradient(100.66deg, #663399 23.13%, rgb(86, 38, 86) 82.12%);
}

.navbar-content {
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Electrolize;
  font-size: 18px;
  justify-content: center;
  max-width: 100%;
  padding: 8px 16px;
  width: 1300px;
}
.navbar-content::after {
  clear: both;
  content: "";
  display: block;
}
@media (min-width: 680px) {
  .navbar-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1100px) {
  .navbar-content {
    font-size: 24px;
  }
}

.navbar-list {
  font-size: 40px;
  padding-left: 0;
  text-align: center;
  width: 80%;
}
@media (min-width: 680px) {
  .navbar-list {
    width: 500px;
    font-size: 20px;
  }
}
.navbar-list ul {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: scroll;
  padding-left: 50px;
  padding: 18px;
  width: 100%;
}
@media (min-width: 680px) {
  .navbar-list ul {
    flex-direction: row;
    min-height: 0;
    padding-left: 0px;
  }
}
.navbar-list li {
  margin: 0.9rem 0rem 0.9rem 0.9rem;
}

.hamburger-menu {
  color: white;
  float: right;
  margin-top: 8px;
  width: 60px;
}
@media (min-width: 680px) {
  .hamburger-menu {
    display: none;
    visibility: hidden;
  }
}

.navbar-logo {
  float: left;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 680px) {
  .navbar-logo {
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
  }
}
.navbar-logo li, .navbar-logo a {
  display: inline-block;
}
.navbar-logo li {
  margin-left: 16px;
}

.navbar-logo-item {
  height: auto;
  width: 30px;
}

.navbar-menu {
  display: none;
  max-width: 1000px;
  width: 100%;
}
.navbar-menu.open-menu {
  display: flex;
}
@media (min-width: 680px) {
  .navbar-menu {
    align-items: left;
    display: flex;
    flex-direction: row;
  }
}

.navbar-item:hover {
  text-decoration: underline;
}

.navbar-logo-item:hover {
  text-decoration: underline;
}

.hero {
  background: #ebebeb;
  padding-bottom: 30px;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
@media (min-width: 680px) {
  .hero-inner {
    flex-direction: row;
  }
}

.hero-text {
  max-width: 100%;
  width: 500px;
}
.hero-text h1 {
  font-family: Electrolize;
}
@media (min-width: 680px) {
  .hero-text h1 {
    font-size: 32px;
  }
}
@media (min-width: 1100px) {
  .hero-text h1 {
    font-size: 38px;
  }
}
.hero-text p {
  font-family: sans-serif;
}
@media (min-width: 680px) {
  .hero-text p {
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 680px) {
  .hero-text {
    padding-top: 100px;
  }
}

.hero-pic {
  border-radius: 100%;
  height: 300px;
  margin: auto;
  max-width: 100%;
  object-fit: cover;
  padding-top: 20px;
  width: 300px;
}
@media (min-width: 680px) {
  .hero-pic {
    margin-left: 30px;
    padding-left: 0px;
  }
}
@media (min-width: 1100px) {
  .hero-pic {
    height: 500px;
    margin-left: 100px;
    width: 500px;
  }
}

.hero-button {
  background: #663399;
  border-color: #663399;
  border-radius: 28px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0px 10px 20px #663399;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  width: 150px;
}

.who-i-am {
  background-color: #ebebeb;
}

.who-i-am-content {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}
@media (min-width: 680px) {
  .who-i-am-content {
    text-align: left;
  }
}
.who-i-am-content h1 {
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
}
.who-i-am-content p {
  font-family: sans-serif;
  font-size: 18px;
}

.p-tag {
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
}

.my-work {
  background: #ebebeb;
  display: flex;
  font-family: sans-serif;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 50px;
}

.dev-work {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}
.dev-work h1 {
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
}

.dev-work-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
}
@media (min-width: 1100px) {
  .dev-work-inner {
    flex-direction: row;
  }
}

.dev-work-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  height: auto;
  margin: 1em;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  max-width: 300px;
  height: auto;
}
.dev-work-card h2 {
  font-family: Electrolize;
}
.dev-work-card p {
  font-family: sans-serif;
}

.dev-work-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mia-card {
  height: 150px;
  width: 150px;
}

.vote-card {
  height: auto;
  width: 100px;
}

.park-card {
  height: auto;
  width: 150px;
}

.aiken-card {
  height: auto;
  width: 150px;
}

.personal-work {
  padding-bottom: 20px;
}
@media (min-width: 680px) {
  .personal-work {
    margin: auto;
    width: 500px;
  }
}
.personal-work h1 {
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
}

.personal-work-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
}
@media (min-width: 1100px) {
  .personal-work-inner {
    flex-direction: row;
  }
}

.personal-work-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  height: auto;
  margin: 1em;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  max-width: 300px;
  height: auto;
}
.personal-work-card h2 {
  font-family: Electrolize;
}
.personal-work-card p {
  font-family: sans-serif;
}

.personal-work-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.boston-card {
  height: auto;
  width: 150px;
}

.disney-card {
  height: auto;
  width: 150px;
}

.cool-stuff {
  background: #ebebeb;
  font-family: sans-serif;
  padding-bottom: 20px;
  padding-top: 50px;
}
.cool-stuff h1 {
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
}
.cool-stuff p {
  font-family: Electrolize;
  font-size: 20px;
  text-align: center;
}

.stuff-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}
.stuff-inner h1 {
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
}
.stuff-inner p {
  font-family: sans-serif;
  font-size: 20px;
}

.cards-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
}
@media (min-width: 1100px) {
  .cards-inner {
    flex-direction: row;
  }
}

.cool-stuff-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  width: 275px;
}
.cool-stuff-card h2 {
  font-family: Electrolize;
}
.cool-stuff-card p {
  font-family: sans-serif;
}

.cool-stuff-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.testing-pic {
  height: auto;
  width: 100px;
}

.odin-pic {
  height: auto;
  width: 200px;
}

.cypress-pic {
  height: auto;
  width: 100px;
}

.mia-hero {
  margin: auto;
  max-width: 1100px;
}

.mia-hero-pic {
  background-position: top;
  min-height: 178px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .mia-hero-pic {
    min-height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .mia-hero-pic {
    min-height: 450px;
  }
}

.mia-content {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}
@media (min-width: 680px) {
  .mia-content {
    text-align: left;
  }
}
.mia-content h1 {
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
}
.mia-content p {
  font-family: sans-serif;
  font-size: 18px;
}

.p-tag {
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
}

.mia-ul {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
}

.footer {
  background-color: #663399;
}
.footer p {
  color: white;
  font-size: 22px;
  text-align: center;
}

.vote-hero {
  margin: auto;
  max-width: 1100px;
}

.vote-hero-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  padding-top: 20px;
  width: 100%;
}

.vote-content {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}
@media (min-width: 680px) {
  .vote-content {
    text-align: left;
  }
}
.vote-content h1 {
  font-family: Electrolize;
  font-size: 28px;
  text-align: center;
}
.vote-content p {
  font-family: sans-serif;
  font-size: 18px;
}

.p-tag {
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
}

.vote-ul {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
